@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
html,
body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-size: 100%;
    background: rgb(243, 243, 243);
}

body {
    display: flex;
    flex-direction: column;
}

.container {
    text-align: center;
    max-width: 768px;
    min-width: 320px;
    margin: auto;
    padding: 0px;
}

.rodape {
    flex-shrink: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 13px;
    background-color: rgb(138, 9, 37);
    padding: 20px;
    text-align: center;
    color: white;
}