@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
html,
body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-size: 100%;
    background: rgb(8, 0, 45);
}

body {
    display: flex;
    flex-direction: column;
}

.conteudo {
    flex: 1 0 auto;
    display: flex;
    flex-direction: row;
    text-align: center;
    max-width: 768px;
    margin: auto;
    padding: 15px;
    font-family: 'Roboto', sans-serif;
}

.img {
    padding: 0px;
}

.headline-1 {
    font-weight: bold;
    font-size: 24px;
    line-height: 1.2;
    color: #ffffff;
}

.headline-2 {
    font-weight: normal;
    font-size: 20px;
    color: #ffffff;
}

.headline-2 {
    font-weight: normal;
    font-size: 20px;
    color: #ffffff;
}

.img-sound {
    margin-top: -10px;
    font-size: 18px;
    color: #ffffff;
}

.img-sound svg {
    width: 28px;
    height: 28px;
    vertical-align: middle;
}

.rodape {
    flex-shrink: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 13px;
    background-color: rgb(7, 23, 74);
    padding: 20px;
    text-align: center;
    color: white;
}

.rodape a {
    color: white;
    text-decoration: none;
}